<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Welcome to the SVM VT</title>
    <link rel = "icon" type = "image/png" href = "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQFjp3OzBXCJvQpkhqRpFFb_RdzMULZNBJPZQ&usqp=CAU">
</head>
<body style="background-image:url('https://thumbs.gfycat.com/IdealAmbitiousAmericantoad-size_restricted.gif'); background-repeat: no-repeat; background-size: cover; background-color: rgba(0, 0, 0, 0.9);">
    <!--display: flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;"-->
    <nav class="navbar">        <!--Creating a navbar-->
        <h1 class="navbar-brand" style="color: #caf0f8;"><strong>Understanding the Support Vector Machine(SVM) algorithm</strong></h1>
    </nav>
    <br>
    <br>
    <div class="container mt-4" style="height: 69vh;
    margin-top: 30vh;
    margin-bottom: 10vh;
    margin-right: 5vh;
    margin-left: 36vh;
    display: block;
    background-color: rgba(202, 240, 248, 0.84);
    border-radius: 20px;
    padding-bottom: 24em;
    width: 150vh;
    box-shadow: 0px 0px 10px -4px grey;
    text-align: center;
    align-content: center;">
        <div class="row">
            <div class="offset-2 col-md-8 mt-2">
                <h1 class="text" style="text-align: center; margin-top: 30px; font-family: 'AR Darling'; color: #001845;"><strong>SUPPORT VECTOR MACHINES (SVM)</strong></h1>
                <h3 class="text" style="text-align: center; margin-top: 30px; font-family: 'arial'; font-weight: 900; color: #001845;">One of the most beautiful algorithms in Machine Learning</h3>
                <br>
                <div class="Title" style="align-items: center;
                justify-content: center;
                text-align: center;">
                    <form action="#", method="POST">
                        <a href="https://www.google.com/search?q=support+vector+machine+blogs&rlz=1C1RLNS_enIN861IN861&oq=support+vector+machine+blogs&aqs=chrome..69i57j0.8958j0j7&sourceid=chrome&ie=UTF-8", target="blank" class="btn" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                        font-weight:bold; 
                        color: #001845; 
                        background-color: #84d2f6;
                        font-size: 18px;
                        height: 70px;
                        width: 240px;
                        border-radius: 5;
                        border: thin #001845 solid;"><strong>SHOW ME SOME BLOGS TO READ</strong></a>
                        <a href="https://svm-visual-tool.herokuapp.com/", target="blank" class="btn" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                        font-weight:bold; 
                        color: #001845; 
                        background-color: #84d2f6;
                        font-size: 18px;
                        height: 70px;
                        width: 270px;
                        border-radius: 5;
                        border: thick #001845 solid;"><strong>NAH, TAKE ME TO THE VISUAL TOOL!</strong></a>
                        <br><br>
                        <h6 class="text" style="text-align: center; margin-top: 30px; font-family: 'arial'; font-weight: 900; color: #001845;">Developed by <a href="https://www.linkedin.com/in/balaka-biswas/", target="blank">Balaka Biswas</a></h6>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</body>
</html>
